.markdown {
    font-size: 16px;
    font-family: "Open Sans", "Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(51, 51, 51);
    line-height: 1.6;
}


.markdown a {
    color: #4183C4;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
    line-height: 1.4;
    cursor: text;
}


.markdownh1 tt, .markdown
h1 code {
    font-size: inherit;
}

.markdown h2 tt, .markdown h2 code {
    font-size: inherit;
}

.markdown h3 tt,
.markdown h3 code {
    font-size: inherit;
}

.markdown h4 tt,
.markdown h4 code {
    font-size: inherit;
}

.markdown h5 tt,
.markdown h5 code {
    font-size: inherit;
}

.markdown h6 tt,
.markdown h6 code {
    font-size: inherit;
}

.markdown h1 {
    padding-bottom: .3em;
    font-size: 2.25em;
    line-height: 1.2;
    border-bottom: 1px solid #eee;
}

.markdown h2 {
    padding-bottom: .3em;
    font-size: 1.75em;
    line-height: 1.225;
    border-bottom: 1px solid #eee;
}

.markdown h3 {
    font-size: 1.5em;
    line-height: 1.43;
}

.markdown h4 {
    font-size: 1.25em;
}

.markdown h5 {
    font-size: 1em;
}

.markdown h6 {
    font-size: 1em;
    color: #777;
}

.markdown p,
.markdown blockquote,
.markdown ul,
.markdown ol,
.markdown dl,
.markdown table {
    margin: 0.8em 0;
}

.markdown li > ol,
.markdown li > ul {
    margin: 0 0;
}

.markdown hr {
    height: 2px;
    padding: 0;
    margin: 16px 0;
    background-color: #e7e7e7;
    border: 0 none;
    overflow: hidden;
    box-sizing: content-box;
}

.markdown li p.first {
    display: inline-block;
}

.markdown ul,
.markdown ol {
    padding-left: 30px;
}

.markdown ul:first-child,
.markdown ol:first-child {
    margin-top: 0;
}

.markdown ul:last-child,
.markdown ol:last-child {
    margin-bottom: 0;
}

.markdown blockquote {
    border-left: 4px solid #dfe2e5;
    padding: 0 15px;
    color: #777777;
}

.markdown blockquote blockquote {
    padding-right: 0;
}

.markdown table {
    padding: 0;
    word-break: initial;
}

.markdown table tr {
    border-top: 1px solid #dfe2e5;
    margin: 0;
    padding: 0;
}

.markdown table tr:nth-child(2n),
.markdown thead {
    background-color: #f8f8f8;
}

.markdown table tr th {
    font-weight: bold;
    border: 1px solid #dfe2e5;
    border-bottom: 0;
    margin: 0;
    padding: 6px 13px;
}

.markdown table tr td {
    border: 1px solid #dfe2e5;
    margin: 0;
    padding: 6px 13px;
}

.markdown table tr th:first-child,
.markdown table tr td:first-child {
    margin-top: 0;
}

.markdown table tr th:last-child,
.markdown table tr td:last-child {
    margin-bottom: 0;
}

.markdown .code-tooltip {
    box-shadow: 0 1px 1px 0 rgba(0, 28, 36, .3);
    border-top: 1px solid #eef2f2;
}

.markdown code,
.markdown tt {
    /*border: 1px solid #e7eaed;*/
    background-color: #f8f8f8;
    border-radius: 3px;
    padding: 2px 4px 0px 4px;
    font-size: 0.9em;
}

.markdown code {
    background-color: #f3f4f4;
    padding: 0 2px 0 2px;
}

.markdown mark {
    background-color: transparent;
    color: rgb(255, 0, 0);
}