.PageSelector{
    margin: 0 auto;
    display: inline-block;

}

.PageSelector ul{
    margin: 0;
    padding: 0;
}


.PageSelector li{
    font-size: 20px;
    text-align: center;
    list-style-type: none;
    display: inline-block;
    padding: 5px 5px;
    min-width: 20px;
    height: 24px;
    line-height: 24px;
    cursor: pointer;
    margin-left: 10px;
    transition: border-bottom-color 0.8s;
    user-select: none;
}

.PageSelector li:hover {
    background-color: #c2c2c2;
}

.PageSelectorCur{
    border-bottom: 2px lightskyblue solid;
}
