

.TextListItem h1{
    margin: 0;
    font-size: 20px;
    margin-bottom: 10px;
}

.TextListItem div[name=brief]{
    padding-top: 10px;
    position: relative;
    margin-bottom: 20px;
}

.TextListItem div[name=brief]::after{
    position: absolute;
    left:0;
    top:0;
    right:0;
    display: block;
    content: "";
    border-bottom: 1px solid #eee;
    margin: 0;
}