.UploadText {
    padding: 20px 40px;
}


.UploadText input[name=title] {
    display: block;
    /* margin: 20px; */
    width: 100%;
    font-size: 2em;
    text-align: center;
    font-weight: bold;
    /* padding: 10px; */
    border: none;
}

.UploadText input[name=tags]{
    display: inline-block;
    width: 100px;
    border: none;
}

.UploadText textarea {
    display: block;
    width: 100%;
    min-height: 500px;
    padding: 5px;
    font-size: 1em;
}

